    .jumbotron {
      background-color:#68266f; /* Orange */
      color: #fff;
      border-radius:0;
      padding:100px 25px;
      font-family: Montserrat, sans-serif;

    }
    body {
      font: 400 15px Lato, sans-serif;
      color:#818181;
      line-height:1.8;
    }

    h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  } 
  .navbar {
    background-color:#46134b;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
   .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #46134b !important;
    background-color: #fff;
  }
  /*.navbar-toggle {
    border-color: transparent;
    color: #fff;
  }
*/   
#dropmanu {
  background-color:#8b4093;
  color:white;
}
.thumbnail img {
  }
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
.headertext {
      margin:0;
      text-align:center;
      color:blue;
      padding:10px 0px;
      text-shadow:2px 2px 3px yellow;
    }
    .container-fluid {
      padding:60px 50px;
    }
    .bg-grey {
       background-color: #f48095;
    }
    .logo {
    color: #9f3548;
    font-size: 200px;
    }
    .small-logo {
    color: #68266f;
    font-size: 50px;
    }
    .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    }
   .thumbnail img {
    width: 100%;
    height:auto;
    margin-bottom: 10px;
    transition:transform .3s;
    }
    
    
   
    .left-caro, .right-caro {
    background-color: #f4511e;
    }
    .carousel-indicators li {
    background-color:red;
    }
    .carousel-item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 60px 0;
  }
  .carousel-item span {
    font-style:normal;
  }
 .panel {
    border: 1px solid #9f3548; 
    border-radius:0 !important;
    transition: box-shadow 0.2s;
  }
  .panel:hover {
    box-shadow:5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border:1px solid #f4511e;
    background-color:#fff;
    color:#f4511e;
  }
  .panel-heading {
     color: #fff !important;
    background-color: #2e6317;
    padding: 25px;
   
  }
  .panel-footer  {
    background-color:white !important;
  }
   .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
    .panel-footer .btn {
    margin: 15px 0;
    background-color: #68266f;
    color: #fff;
  }
 
  }
  .panel-body {
    margin-top:15px;
  }
  footer {
    background-color: #380810;
  }
  .slideanim {
    visibility: hidden;
  }
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
   @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

    @media screen and (max-width: 768px) {
  
  </style>